body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.container-terminal {
  background: #fafafa;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}
.terminal {
  margin: 0 auto;
  display: flex;
}
.terminal__title {
  font-size: 16px;
  margin-bottom: 22px;
  font-size: 18px;
  color: #333;
}
.terminal__form {
  display: block;
  background: #fff;
  padding: 20px;
  box-shadow: 0 1px 5px -1px rgba(0,0,0,0.3);
  position: relative;
}
.terminal__form:not(:last-child) {
  margin-right: 20px;
}
.terminal__form_success .terminal__popup {
  opacity: 1;
  visibility: visible;
  transition-duration: 175ms;
}
.terminal__field-box {
  margin-bottom: 20px;
}
.terminal__field {
  box-sizing: border-box;
  width: 200px;
  height: 30px;
  font-size: 14px;
  outline: none;
  display: block;
  border: 1px solid #a9a9ac;
  padding-left: 10px;
  color: #333;
  transition: background-color 350ms;
}
.terminal__field:not(:last-child) {
  margin-bottom: 20px;
}
.terminal__field_disable {
  background: #f2f2f2;
  transition-duration: 175ms;
}
.terminal__button {
  box-sizing: border-box;
  font-size: 16px;
  height: 30px;
  width: 200px;
  padding: 0 10px;
  background: #fff;
  border: 1px solid #a9a9ac;
  outline: none;
  color: #333;
  cursor: pointer;
  transition: background-color 350ms, color 350ms;
}
.terminal__button:hover {
  background: #f7f7f7;
  color: #4d4d4d;
  transition-duration: 175ms;
}
.terminal__popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 350ms, visibility 350ms;
}
.terminal__form_search {
  display: flex;
}
.terminal__search-block {
  margin-right: 10px;
}
.terminal__result-block {
  box-sizing: border-box;
  width: 300px;
  border: 1px solid #a9a9ac;
}
.terminal__result-title {
  height: 30px;
  border-bottom: 1px solid #a9a9ac;
  background: #f7f7f7;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.terminal__result-control {
  line-height: 30px;
  width: 40px;
  height: 30px;
  cursor: pointer;
  transition: background-color 350ms, color 350ms;
  user-select: none;
  color: #333;
  text-align: center;
  vertical-align: middle;
}
.terminal__result-control:hover {
  background: #ededed;
  color: #4d4d4d;
  transition-duration: 175ms;
}
.terminal__result-clear {
  position: relative;
}
.terminal__result-clear::before,
.terminal__result-clear::after {
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background: #a9a9ac;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 350ms, background-color 350ms;
}
.terminal__result-clear_enable::before {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  background-color: #333;
  transition-duration: 175ms;
}
.terminal__result-clear_enable::after {
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  background-color: #333;
  transition-duration: 175ms;
}
.terminal__del-db {
  margin-right: auto;
}
.terminal__del-db:hover {
  background: rgba(255,0,0,0.3);
}
.terminal__result-content {
  padding: 10px;
  max-height: 170px;
  overflow: scroll;
}
.terminal__result-item {
  border-bottom: 1px solid #a9a9ac;
  padding-bottom: 3px;
}
.terminal__result-item:not(:last-child) {
  margin-bottom: 10px;
}
.field-error {
  border-color: #f00;
}
