body {
	padding 0
	margin 0
	font-family Arial, sans-serif
	font-size 14px
}

faster() {
	transition-duration ($duration / 2)
}

$backgroundColor = #fafafa
$borderColor = #a9a9ac
$duration = 350ms

@import "./blocks/terminal"
